.table-section {
  width: 50%;
  margin: 2em auto;

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #047dff;
    color: #fff;
  }

  th,
  td {
    padding: 1em;
    text-align: center;
  }

  .edit {
    border: none;
    outline: none;
    color: #047dff;
    background-color: transparent;
  }

  .delete {
    border: none;
    outline: none;
    color: red;
    background-color: transparent;
  }
}
